@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a asp-controller="Account" asp-action="Login">Login to access the Documentation</a>.</p>
</div>